/* styles.css */
/* This is the main style page for the rest of the pages! I used NMSU colors as I thought they would fit the website nicely*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    background-color: maroon;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: maroon;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

section p {
    margin-bottom: 50px; /* Adds a space below the paragraph so pictures aren't too closely spaced */
}

